<main class="home-page-container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2 class="app-title">Bloc Chat</h2>
            <button type="button" class="btn btn-info btn-lg" ng-click="home.createRoom()">Create New Room</button>
        </div>
        <div class="sidebar-body" ng-repeat="room in home.rooms">
            <p class="room-names" ng-click="home.setCurrentRoom(room)">{{ room.name }}</p>
        </div>
    </aside>

    <div class="page-content">
        <h3 class="room-name">{{ home.currentRoom.name }}</h3>
        <div class="messages" ng-repeat="message in home.messages">
            <div class="username">{{ message.username }}</div>
            <div class="timestamp">{{ message.sentAt | date : "shortTime" }}</div>
            <div class="user-message">{{ message.content }}</div>
        </div>
    </div>
    
    <div class="message-content">
        <input type="text" placeholder="Type your message here" class="message-box" ng-model="home.newMessage.content">
        <button type="button" class="btn-send" ng-click="home.sendMessage()">Send</button>
    </div>
    
</main>